<div id="pageContent">
  <div id="header">
    <ul>
      <li>Home</li>
      <li>Sobre nós <img src="assets/Icons/DropdownArrow.png"></li>
      <li>Conectar <img src="assets/Icons/DropdownArrow.png"></li>
      <li>Instituto Zao</li>
      <li>Contato</li>
      <li>OFERTAS</li>
    </ul>
  </div>

  <div class="firstContainer"></div>
  <div class="gradientSection">
    <div class="Container2">
      <img src="assets/Container1/textVector.svg">
      <div>
        <h2>INFORMAÇÕES DO EVENTO:</h2>
        <p>
          A Voz de Sião é a conferência anual da Zion Church.
          <br><br>
          Serão <strong>três dias</strong> cheios de palavra, adoração, ministração e encontros sobrenaturais com o Senhor. Com o propósito de equipar, treinar e provocar uma transformação de mentalidade em indivíduos e famílias com o poder do Espírito Santo e os princípios do Reino de Deus.
          <br><br>
          Não fique de fora do que Deus preparou para você nestes dias.
        </p>
        <div>
          <img src="assets/Container1/LocationIcon.svg">
          <span>Av. Visc. de Jequitinhonha, 374 - Boa Viagem, Recife - PE, 51030-020</span>
        </div>
      </div>
      <p style="clear: both"></p>
    </div>

    <div class="Container3">
      <img src="assets/Container3/FirstGroupBg.png">
      <img src="assets/Container3/SecondGroupBg.png">
      <div></div>
    </div>

    <div class="Container4">
      <img src="assets/Container4/PadreBg.png">
      <p style="clear: both"></p>
      <div>
        <h2>ENTRADA PARA PASTORES</h2>
        <p>Serão <strong>três dias</strong> cheios de palavra, adoração, ministração e encontros sobrenaturais com o Senhor. Nosso propósito é equipar, capacitar, e provocar uma transformação de mentalidade nas pessoas e nas famílias, através do poder do <strong>Espírito Santo e dos princípios do Reino de Deus.</strong></p>
        <button onclick="location.href='https://zionquito.org/faq-vds'">SAIBA MAIS</button>
      </div>
    </div>

    <div class="Container5">
      <div>
        <div class="leftMostCard">
          <button>Comprar Ingresso</button>
        </div>
        <div></div>
        <div class="middleCard">
          <button>Comprar Ingresso</button>
        </div>
        <div class="divider"></div>
        <div class="rightMostCard">
          <img src="assets/Container5/RightMostCards1.png">
          <img src="assets/Container5/RightMostCards2.png">
        </div>
      </div>
      <p>*Compras de ingressos podem ser realizadas  diretamente na Zion Recife</p>
    </div>

    <div class="FAQContainer">

    </div>
  </div>

  <div id="footer">
    <div>
      <img src="assets/Icons/ZionChurchIcon.png">
      <p>
        “<strong>Tocai a trombeta em Sião</strong>, e <strong>clamai em alta voz</strong> no meu santo monte; <strong>tremam todos os moradores da terra</strong>, porque o dia do <strong>SENHOR vem</strong>, já está perto;<br>
        Dia de trevas e de escuridão; dia de nuvens e densas trevas, como a alva espalhada sobre os montes; <strong>povo grande e poderoso</strong>, qual <strong>nunca houve</strong> desde o tempo antigo, nem depois dele haverá pelos anos adiante, de geração em geração” - Joel 2:1-2
      </p>
      <div>
        <a href="https://www.instagram.com/zionrecife/"><img src="assets/Icons/InstagramIcon.png"></a>
        <a href="https://podcasters.spotify.com/pod/show/zion-church-recife"><img src="assets/Icons/SpotifyIcon.png"></a>
        <a href="https://www.youtube.com/c/ZIONRECIFE"><img src="assets/Icons/YoutubeIcon.png"></a>
        <a><img src="assets/Icons/WhatsappIcon.png"></a>
      </div>
    </div>
    <div>
      <div>
        <h2>Recife</h2>
        <p>
          CAMPUS RECIFE<br>
          Rua Visconde de Jequitinhonha, 374<br>
          Boa viagem. Recife, PE
        </p>
      </div>
      <div>
        <h2>Contato</h2>
        <p>
          recife@zionchurch.org.br<br>
          +55 81 9303-2760 (WhatsApp)
        </p>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
