/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
}

#header {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding: 2em 10%;
  z-index: 1000;
  background: linear-gradient(#004642 0%, #0046434d 75%, rgba(0, 70, 66, 0) 100%);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 100%;
    padding: 0;

    li {

      a {
        text-decoration: none;
        font: 700 1.75em/1.75em Montserrat;
        color: #fff;
      }

      button {
        position: relative;
        text-decoration: none;
        font: 700 1.75em/1.75em Montserrat;
        padding: 0;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
      }

      img {
        position: absolute;
        width: 25%;
        right: -35%;
        top: 50%;
        transform: translateY(-50%);
        content: url("assets/Icons/FAQUpArrow.png");

        &.collapsed {
          content: url("assets/Icons/FAQDownArrow.png");
        }
      }

      &:last-child {
        border: 1px white solid;
        padding: 0 1.5em;
        border-radius: 50px;
      }

      .dropdownObj {
        position: absolute;
        padding-top: 1em;
        transition: opacity .25s 0s;
        opacity: 1;

        p {
          margin: 0;

          a {
            font-weight: 400;
            line-height: 2.5em;
          }
        }

        &.collapsed {
          opacity: 0;
          z-index: -10;

          a {
            pointer-events: none;
            cursor: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1800px) {
    font-size: .6rem;
  }

  @media screen and (max-width: 1000px) {
    font-size: .4rem;
  }

  @media screen and (max-width: 600px) {
    ul {
      justify-content: flex-end;
      li:first-child {
        margin-right: 1rem;
      }

      li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) {
        display: none;
      }
    }
  }
}

#footer {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  width: 100%;
  padding: 5% 5%;
  background-color: #252525;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  >div:first-child {
    width: 40%;
    height: auto;

    >img {
      width: 60%;
    }

    >div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      a {
        position: relative;
        width: auto;
        height: auto;
        padding: 5%;
        margin-right: 1.5em;

        img {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
        }

        &:nth-child(3) {
          padding: 6%;

          img {
            top: 10%;
          }
        }
      }
    }
  }

  >div {
    width: auto;
    height: auto;

    p {
      font: 300 1.25em/1.5em Montserrat;
      color: #fff;
    }

    h2 {
      font: 700 1.5em/2em Montserrat;
      color: #fff;
    }

    &:nth-child(2) {
      float: right;
    }

    &:nth-child(2) >div:nth-child(1){
      float: left;
      margin-right: 2.5em;
    }

    &:nth-child(2) >div:nth-child(2){
      float: right;
    }
  }

  @media screen and (max-width: 1800px) {
    font-size: .75rem;
  }

  @media screen and (max-width: 1000px) {
    font-size: .4rem;
  }

  @media screen and (max-width: 600px) {
    >div:nth-child(2) {
      >div:nth-child(1), >div:nth-child(2){
        float: none;
        margin-right: 0;
      }
    }
  }
}

.firstContainer {
  width: 100%;
  background-image: url('assets/Background/TopBackground.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: auto;
  padding-top: 58.5%;
  margin-bottom: -5px;
}

.gradientSection {
  position: relative;
  background: linear-gradient(#004642 8.05%, rgba(0, 70, 66, 0.2) 44.83%, #004642 83.22%);
  // background: linear-gradient(#004642 14.57%, rgba(0, 70, 66, 0.2) 81.14%, #004642 150.63%);
  height: auto;
  overflow: visible;

}

.Container2 {
  padding: 0 5.75rem;
  padding-top: 7.25rem;
  height: auto;

  >img:not(.decoration) {
    float: left;
    width: 45%;
    transform: translateY(10%);
    height: 20rem;
    background-image: cover;
    object-fit: cover;
  }

  >div {
    float: right;
    width: 50%;

    h2 {
      font: 600 2.5em/2.25em Montserrat;
      color: white;
      letter-spacing: 0.09em;
      margin: 0;
    }

    p {
      margin: 1em 0;
      font: 500 1.875em/1.7em Montserrat;
      color: white;
      letter-spacing: 0.145em;
    }

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        margin-left: .5rem;
        font: 400 1.5em/1.5em Montserrat;
        color: white;
        letter-spacing: 0.145em;
      }
    }
  }

  .decoration {
    position: absolute;
    left: 0;
    top: 1em;
    width: 20%;

    +.decoration {
      right: 0;
      top: -5em;
      left: unset;
    }
  }

  @media screen and (max-width: 1800px) {
    div{
      font-size: .6rem;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 2.5rem;
    margin-top: 0;
    div {
      font-size: .4rem;
      float: none;
      width: 100%;
    }

    >img:not(.decoration) {
      display: none;
      // width: 100%;
      // float: none;
      // margin-bottom: 1rem;
    }
  }
}

.Container3 {
  position: relative;
  margin-top: 7.25rem;
  padding: 0 5.75rem;
  height: auto;

  img:not(.decoration) {
    position: inherit;
    width: 90%;
    z-index: 1;

    &:first-child {
      float: left;
      margin-bottom: 1rem;
    }

    &:nth-child(2){
      float: right;
    }
  }

  div {
    clear: both;
  }

  .decoration {
    position: absolute;
    left: 0;
    top: 45%;
    width: 35%;
    z-index: 0;

    +.decoration {
      right: 0;
      top: -10%;
      left: unset;
      z-index: 1;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 2.5rem;
    margin-top: 2rem;
  }
}

.Container4 {
  position: relative;
  margin-top: 2.5rem;
  padding: 0 5.75rem;
  height: auto;
  overflow-x: hidden;

  img {
    // position: absolute;
    // right: 0;
    float: right;
    margin-right: -5.75rem;
    width: 40%;
  }

  div {
    position: absolute;
    left: 5.75rem;
    width: 60%;
    bottom: 0;

    h2 {
      margin: 0;
      font: 600 2.75em/2em Montserrat;
      color: white;
    }

    p {
      margin: 1em 0;
      font: 400 1.875em/1.7em Montserrat;
      color: white;
      letter-spacing: 0.025em;
    }

    button, a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      background: #EDB663;
      border-radius: 50px;
      border: none;
      padding: 1em 5em;
      font: 500 2.125em/1.5em Montserrat;
      color: #000;
      letter-spacing: 0.145em;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 1800px) {
    div{
      font-size: .6rem;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 2.5rem;
    margin-top: 5rem;
    div {
      position: relative;
      font-size: .65rem;
      left: 0;
      // width: 75%;

      button {
        width: 100%;
        padding: 1em 0;
      }
    }

    img {
      margin-right: -2.5rem;
      position: absolute;
      right: 0;
    }
  }

  @media screen and (max-width: 600px) {
    div {
      font-size: .5rem;
      width: 75%;
    }
  }
}

.Container5 {
  position: relative;
  margin-top: 4.5rem;
  padding: 0 5.75rem;
  padding-top: 45.6%;
  overflow: visible;

  >div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;

    .leftMostCard {
      position: relative;
      background-image: url('assets/Container5/LeftMostCards.png');
      width: 44%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: inherit;
    }

    .middleCard {
      position: relative;
      background-image: url('assets/Container5/MiddleCard.png');
      width: 28.74%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: inherit;
    }

    .rightMostCard {
      position: relative;
      background-image: url('assets/Container5/RightMostCard.png');
      width: 24.49%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: inherit;

      button, a {
        max-width: 70%;
        font: 500 1.75em/1.5em Montserrat;
        bottom: 3.5em;
      }
    }

    button, a {
      text-decoration: none;
      text-align: center;
      position: absolute;
      bottom: 1.5em;
      width: 15em;
      max-width: 80%;
      right: 0;
      left: 0;
      margin: auto;
      background: #FFF470;
      border-radius: 50px;
      border: none;
      padding: 1em 0;
      font: 500 2.125em/1.5em Montserrat;
      color: #000;
      cursor: pointer;
    }
  }

  .decoration {
    position: absolute;
    left: 0;
    top: -10%;
    width: 15%;
    z-index: 0;
  }

  @media screen and (max-width: 1800px) {
    font-size: .625rem;
  }

  @media screen and (max-width: 1000px) {
    font-size: .55rem;

    >div button, >div a {
      left: 0.875em !important;
      right: 0.875em !important;
      padding: .75em 0 !important;
      font: 500 1.75em/1em Montserrat !important;
    }

    .rightMostCard button, .rightMostCard a {
      bottom: 3em !important;
    }

    .rightMostCard {
      height: 75% !important;
      background-image: url("assets/Container5/RightMostCardCollapsed.png") !important;
      top: 1em;
      margin: 0 1rem;
      background-position: center;
      width: 100% !important;
      button, a {
        opacity: 0;
        width: 50%;
      }
    }

    padding-top: 55.6%;
    margin-bottom: 50%;

    .leftMostCard {
      width: 53.3% !important;
      left: 1rem;
    }
    .middleCard {
      width: 35.2% !important;
      right: 1rem;
    }

    p {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 1.6em !important;
      bottom: calc(0px - 5.5em - 75%) !important;
    }
    // p {
    //   bottom: calc(0px - 5.5em) !important;
    //   float: none !important;
    //   display:inline-block;
    //   font-size: 2.25em !important;
    //   margin-left: 1rem;
    // }
  }

  @media screen and (max-width: 600px) {
    font-size: .4rem;

    .rightMostCard button, .rightMostCard a {
      bottom: 2.5em !important;
    }

    p {
      float: none !important;
      display:inline-block;
      font-size: 2.25em !important;
      margin-left: 1rem;
    }
  }

  p {
    position: absolute;
    bottom: -3em;
    left: 5%;
    right: 5%;
    font: 500 1.75em/1.75em Montserrat;
    color: #585852;
  }
}

.FAQContainer {
  margin-top: 4rem;
  width: 100%;
  padding-bottom: 2em;

  h1 {
    font: 700 8em/2.5em Montserrat;
    color: white;
    text-align: center;
    margin: 0;
  }

  ul {
    width: 100%;
    padding: 0 5%;
    list-style-type: none;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

    li {
      width: 100%;
      padding-bottom: .5em;

      button {
        position: relative;
        text-align: left;
        width: 100%;
        border: white solid;
        border-width: 0 0 1px 0;
        background: transparent;
        padding: 0 0 1em 0;
        font: 400 2em/1.5em Montserrat;
        color: white;

        >div {
          position: absolute;
          top: 50%;
          right: 0;
          height: .5em;
          width: 1em;
          padding-bottom: 1em;
          transform: translateY(-50%);
          background-image: url('assets/Icons/FAQUpArrow.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: top;
          transition: background-image .5s 0s;
        }
      }

      div {
        p {
          font: 400 2em/1.5em Montserrat;
          color: white;
          margin-bottom: 1em;
        }
      }

      button.hidden {

        >div {
          background-image: url('assets/Icons/FAQDownArrow.png');
        }

        +div {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 1800px) {
    font-size: .75rem;
  }

  @media screen and (max-width: 1000px) {
    font-size: .5rem;
  }
}
